h1{
    font-size: 48px;
    font-weight: 900;
    margin-top: 48px;
}

.cards-workspaces{
  width: 70%;
  display: flex;
  margin-top: 48px;
  flex-wrap: wrap;
}

.map {
  width: 32%;
  right: 140px;

  top: 140px;
  position:absolute;
}
