<h1> My bookings </h1>


 <div class="my_bookings-tags">
   <ul><% @my_bookings.each do |booking| %>
      <li><%= Workspace.find(booking.workspace_id).name %> | <%= link_to "X", booking, method: :delete, data: { confirm: 'Are you sure?' }%></li>
         <% if booking.status === "accepted" %>
            <p> Accepted </p>
        <% elsif booking.status === "rejected" %>
            <p>Rejected</p>
        <% else  %>
            <p>Pending</p>
          <% end %>
      <% end %>
   </ul>

  </div>

  <br>
  <%= link_to "Find other workspaces", workspaces_path%>
