<div class="header-wrapper">
<h1>ADIEU, HOME OFFICE.</br>HELLO, LIFE.</h1>
<p>Are you ready for new opportunities outside your home bubble? Discover your new Workspaces with FlexDex
- whenever you want, whereever you want and with who you want.</p>
<%= link_to "All Workspaces", workspaces_path, class: "button-primary", id:"header-btn"%>
<%= image_tag 'home-01.png', class: "header-image"%>
</div>

<%= image_tag 'background-vector.png', class: "background-vector-green"%>
